{
  "plugins": [
    "babel",
    "react",
    "react-native"
  ],
  "extends": [
    "standard",
    "standard-react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}